<section class="text-center">
    <div class="card mx-4 mx-md-5 shadow-5-strong">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Iniciar sesion</h2>
            <form [formGroup]="formAuth" (ngSubmit)="Log()">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <div class="input-group">
                  <input type="email" id="form3Example3" class="form-control" formControlName="usuario"/>
                </div>
                <label class="form-label" for="form3Example3">Nombre De Usuario</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <div class="input-group">
                  <input type="password" id="form3Example4" class="form-control" formControlName="contraseña"/>
                </div>
                <label class="form-label" for="form3Example4">Contraseña</label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="formAuth.invalid">
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->